<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Create Event</title>
  </head>

  <div class="main_content">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="index">Topbar</a>
		<h3 class="title">Create Event</h3>	
		<button type="button" class="btn btn-light">Cancel</button>	
	</nav>
	
	<form>
		<br>
		<div class="form-group">
		  <label for="exampleFormControlInput1">Event Name:</label>
		  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Event Name">
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Event Host:</label>
			<input type="host" class="form-control" id="exampleFormControlInput1" placeholder="Host">
		</div>

		<label>RSVP Required:</label>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
			<label class="form-check-label" for="inlineCheckbox1">Yes</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
			<label class="form-check-label" for="inlineCheckbox2">No</label>
		</div>

		<div class="form-group row">
			<label for="datetime-input" class="col-2 col-form-label">Date and time</label>
			<div class="col-10">
				<input class="form-control" type="datetime-local" value="2019-05-21T13:45:00" id="datetime-input">
			</div>
		</div>


		<div class="form-group">
			<label for="exampleFormControlInput1">Max number of guests:</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter a number or unlimited">
		</div>

		<div class="form-group">
		  <label for="exampleFormControlTextarea1">Description:</label>
		  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>

		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
			</div>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="inputGroupFile01"
				aria-describedby="inputGroupFileAddon01">
				<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
			</div>
		</div><br>

		<div class="form-group">
			<label for="exampleFormControlTextarea1">Tags:</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Location:</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Location">
		</div>

		<button type="button" class="btn btn-secondary btn-lg">Create Event</button>
	</form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</div>
</html>


<style>
.main_content{
	padding: 20px;
	/* background-image: url("{{=URL('static','images/bricks.jpg')}}"); */
	background-color: #e3e1df;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 1200px;
}

.title{
	color:white;
}

</style>