{{extend 'layout.html'}}

{{block head}}
{{end}}
<html>
	<head>
		<title>Home</title>

		<!-- CSS -->
<!-- 		<link rel="stylesheet" type="text/css" href="dm_tools.css"> -->

		<!-- JQUERY & JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		

		<!-- MARKDOWN EDITOR STUFF  -->
		<!-- https://lab.lepture.com/editor/ -->
		<!-- https://ourcodeworld.com/articles/read/359/top-7-best-markdown-editors-javascript-and-jquery-plugins -->
		<!-- https://github.com/lepture/editor -->
<!-- 		<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" /> -->
<!-- 		<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script> -->
<!-- 		<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script> -->


		<!-- Load personal script last. -->
<!-- 		<script src="dm_tools.js"></script> -->

	</head>
	<body>
		<p>Hello.</p>
		<a href="index" class="btn">index</a>
	</body>
	{{=grid}}
</html>
